---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Error">
  <main
    class="max-w-4xl mx-auto my-0 min-h-screen grid place-content-center text-center"
    style="text-wrap: balance;"
  >
    <h1 class="text-4xl sm:text-5xl md:text-7xl font-black">
      Oops! An error has ocurred...
    </h1>
    <img src="this-is-fine.gif" alt="This is fine" class="mx-auto mt-8 mb-0" />
    <h3 class="mt-6 text-lg sm:text-xl opacity-70">
      Something went wrong, but don't worry, it's not your fault.
    </h3>
    <a
      class="w-fit block mx-auto mt-6 mb-0 px-28 py-3 text-center text-lg text-white font-bold bg-slate-900 rounded-full transition hover:scale-110"
      href="/">Exit</a
    >
  </main>
</Layout>
