---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Footer from "../components/Footer.astro";
import BookList from "../components/BookList.astro";
---

<Layout title="View Transitions API Demo by @antonioalanxs">
	<h1 class="pt-6 pb-12">
		<Title />
	</h1>
	<main>
		<BookList />
	</main>
	<Footer />
</Layout>
