---
export interface Props {
    href: string;
    text: string;
}

const { href, text } = Astro.props;
---

<a
    href={href}
    target="_blank"
    class="text-sky-700 hover:shadow-underline transition-shadow duration-200"
    >{text}</a>
