<div class="pb-12 sm:pb-0">
    <a href="/" class="absolute left-6 top-6 transition-transform hover:scale-125">
        <img src="arrow.svg" alt="Go back button" class="w-7 fill-black" />
    </a>
</div>
